doctype html
html(lang="ru-Ru")
    head
        block variables
        meta(charset="utf-8")
        title 
            block title
        meta(name="description", content=description)
        meta(name="keywords", content=keywords)
        meta(name="robots" content="index,follow")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon")
        link(rel="stylesheet", href="static/css/main.css")
    body
        block content
        script(src="static/js/libs.min.js")
        script(src="static/js/main.js")